// Styling for the footer
footer {
    padding: 25px 0;
    text-align: center;
    color: white;
    background-color: $gray-darker;
    p {
        font-size: 12px;
        margin: 0;
    }
    ul {
        margin-bottom: 0;
        li {
            a {
                font-size: 12px;
                color: white;
                &:hover,
                &:focus,
                &:active,
                &.active {
                    text-decoration: none;
                }
                }
            }
            .modal-header{
                background-color:white;
                color:black;
            }
            .modal-body{
                p{
                    font-size: 15px;
                    margin-bottom: 3em;
                }
                a{
                    font-size:15px;
                    text-decoration:underline;
                    color:black;
                }
                h3{
                    font-weight:bold;
                }
                background-color:white;
                color:black;
            }
            .modal-footer{
                background-color:white;
            }
        }
    }
